{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <title>{% block title %}{{profile.name}}{% endblock title %}</title>
    <link rel ="stylesheet" href="{% static '/css/student/student_base.css' %}">

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
         <div class="profile">
          <img src="{{profile.image.url}}" alt="profile_picture">
          <h4>{{profile.name}}</h4>
          <h4>Faculty</h4>
          {% if is_head %}
          <h4>Head of the department </h4>
          {% endif%}
          <h4>{{profile.department}}</h4>
          
        </div>
        <ul>
          <li>
              <a href="{%url 'facultyPage'%}"  class="button-categories-link"> 
                  <span class="icon"><i class="fas fa-home"></i></span>
                  <span class="item">Home</span>
              </a>
          </li>
          {% if is_head %}
          <li>
            <a href="{%url 'courses_assigner_page'%}" class="button-categories-link">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Courses Assigner</span>
            </a>
        </li>
          {% endif%}
          {% if is_assigner %}
          <li>
            <a href="{%url 'courses'%}" class="button-categories-link">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Courses</span>
            </a>
        </li>
          {% endif%}
          <li>
              <a href="{%url 'assigned_courses' %}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-user-friends"></i></span>
                  <span class="item">Assigned Courses</span>
              </a>
          </li>
          <li>
              <a href="{%url 'faculty_notice' %}" class="button-categories-link">
                  <span class="icon"><i class=" fas fa-chalkboard-teacher"></i></span>
                  <span class="item">Notice Publish</span>
              </a>
          </li>
          <li>
              <a href="{%url 'result'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-clinic-medical"></i></span>
                  <span class="item">Update Result</span>
              </a>
          </li>
          <li>
              <a href="{% url 'update_profile'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-book-reader"></i></span>
                  <span class="item">Update Profile</span>
              </a>
          </li>

          <li>
              <a href="{% url 'changePasswordFaculty'%}" class="button-categories-link" >
                  <span class="icon"><i class="fas fa-user-shield"></i></span>
                  <span class="item">Password change</span>
              </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="button-categories-link">
                <span class="icon"><i class="fas fa-door-open"></i></span>
                <span class="item">Logout</span>
            </a>
        </li>
      </ul>

          <!--menu item-->

      </div>
      <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                <!-- <a href="#"> -->
                  <button>
                    <i class="fas fa-bars fa-1.5x"></i>
                  </button>
                    
                <!-- </a> -->
            </div>
            <div class="studentPanel" style="padding-left: 400px;">
              <h1 style="color: white;">Faculty Panel</h1>
            </div>
        </div>

      </div>

  </div>




    <div id="content" name ="content" class="main">
      {%block content%}
      {%endblock%}
    </div>
    <script>
      var hamburger = document.querySelector(".hamburger");
       hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    });
    </script>

  </body>
</html>