<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static '/css/admission/questionBankCss.css' %}">
  </head>
  <body>
      <div class="questionBank_header">
        <h2>Question Bank</h2>
      </div>
      <div class="questionBank_body">
        <div class="container">
          <table class="table">
            <tr class="row">
              <th class="col-1">SL</th>
              <th class="col-5">Year</th>
              <th class="col-4"></th>
              <th class="col-1">PDF</th>
              <th class="col-1"><a href="/admission" class="btn btn-success back float-end">Back</a></th>
            </tr>
            {% for row in forms %}
            <tr class="row">
              <td class="col-1">{{forloop.counter}}</td>
              <td class="col-9"><p>{{row.year}}</p></td>
              <td class="col-2"><a href="viewAdmissionPDF/{{row.id}}" class="btn btn-primary">Click Here</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    <!-- Script file here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>



