{% extends "student_temp/student_base.html" %}
{% load static %}
{% block title %}Academic Notices{% endblock %}
{%block content%}
{% load admin_app_extras%}
<link rel ="stylesheet" href="{% static '/css/admin/admin_info_table.css' %}">

<style>
    
        label {
           display: inline-block;
           width: 100px;
            color: #000000; 
         }
         .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(240, 246, 250);
  transition: 0.3s;
  width: 95%;
  border-radius: 5px;
  margin-top: 15px;
  text-align: left;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h4{
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.content {
  padding: 2px 16px;
  background-color: rgb(249, 244, 236);
  width: 100%;
  border-radius: 5px;
  overflow-wrap: break-word;
  margin-top: 10px;

}

    
</style>

<form method="get">
    
        <label >Date:</label>
        {{profiles.form.date}}

        <button class="btn" type="submit" name="action" style="margin-bottom: 10px; margin-left: 20px; margin-top: 5px;">Search</button>
  
</form>
      {% for user in profile_page_obj %}
        <div class="card">
             <h4>From {{ user.student.name }}</h4> 
              <h4>Time: {{ user.time }}<br> Date: {{ user.date|date:'Y-m-d' }}</h4> 
            <div class="content">
            <p>{{ user.content }}</p>
              {% if user.update %}
              <p style=" text-align: right;">Updated at :- {{ user.update_time }} : {{ user.update_date|date:'Y-m-d' }}</p>  
              {% endif %}
            </div>
          </div>

      {% endfor %}
    </tbody>

  
    <div class="container">
      <ul class="pagination"  >
    {% if profile_page_obj.has_previous%}
       <li><a href="{% my_url 1 'page' request.GET.urlencode%}">&laquo;First</a></li>
       <li> <a href="{% my_url profile_page_obj.previous_page_number 'page' request.GET.urlencode%}">&laquo;Prevous</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in profile_page_obj.paginator.page_range %}
    {% if profile_page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="{% my_url i 'page' request.GET.urlencode%}">{{ i }}</a></li>
    {% endif %}
   {% endfor %}
    {% if profile_page_obj.has_next%}
   <li> <a href="{% my_url profile_page_obj.next_page_number 'page' request.GET.urlencode%}">Next &raquo;</a></li>
   <li><a href="{% my_url profile_page_obj.paginator.num_pages 'page' request.GET.urlencode%}">Last &raquo;</a> </li>
   {% else %}
         <li class="disabled"><span>&raquo;</span></li>  
    {% endif %}
  </ul>
  <span class="current">
    Page {{profile_page_obj.number}} of {{profile_page_obj.paginator.num_pages}}
  </span>
  </div>


{%endblock%}