{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <title>{% block title %}{{profile.name}}{% endblock title %}</title>
    <link rel ="stylesheet" href="{% static '/css/student/student_base.css' %}">

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
         <div class="profile">
          <img src="{{profile.image.url}}" alt="profile_picture">
          <h4>{{profile.name}}</h4>

          <p>Student</p>
          {% if profile.CR%}
          <p><strong>CR</strong></p>
          {% endif %}
        </div>
        <ul>
          <li>
              <a href="{%url 'studentPage'%}"  class="button-categories-link"> 
                  <span class="icon"><i class="fas fa-home"></i></span>
                  <span class="item">Home</span>
              </a>
          </li>
          <li>
              <a href="{%url 'student_result'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-user-friends"></i></span>
                  <span class="item">Result</span>
              </a>
          </li>
          {% if profile.CR %}
          <li>
            <a href="{%url 'studentCR_notice'%}" class="button-categories-link">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Publish Notice</span>
            </a>
        </li>
          {% endif %}
          <li>
              <a href="{%url 'academic_notice'%}" class="button-categories-link">
                  <span class="icon"><i class=" fas fa-chalkboard-teacher"></i></span>
                  <span class="item">Academic Notice</span>
              </a>
          </li>
          <li>
              <a href="{%url 'official_notice'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-clinic-medical"></i></span>
                  <span class="item">Official Notice</span>
              </a>
          </li>
          <li>
              <a href="{% url 'library_book_status'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-book-reader"></i></span>
                  <span class="item">Library Book    Status</span>
              </a>
          </li>
          <li>
              <a href="{% url 'medical_logs'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-chart-line"></i></span>
                  <span class="item">Medical Logs</span>
              </a>
          </li>
        <li>
            <a href="{% url 'teacher_info' %}" class="button-categories-link">
                <span class="icon"><i class="fas fa-chart-line"></i></span>
                <span class="item">Teacher Info</span>
            </a>
        </li>

          <li>
              <a href="{% url 'changePasswordStudent'%}" class="button-categories-link" >
                  <span class="icon"><i class="fas fa-user-shield"></i></span>
                  <span class="item">Password change</span>
              </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="button-categories-link">
                <span class="icon"><i class="fas fa-door-open"></i></span>
                <span class="item">Logout</span>
            </a>
        </li>
      </ul>

          <!--menu item-->

      </div>
      <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                <!-- <a href="#"> -->
                  <button>
                    <i class="fas fa-bars fa-1.5x"></i>
                  </button>
                    
                <!-- </a> -->
            </div>
            <div class="studentPanel" style="padding-left: 400px;">
              <h1 style="color: white;">Student Panel</h1>
            </div>
        </div>

      </div>

  </div>




    <div id="content" name ="content" class="main">
      {%block content%}
      {%endblock%}
    </div>
    <script>
      var hamburger = document.querySelector(".hamburger");
       hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    });
    </script>

  </body>
</html>