*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{

    background-color: #232e2d;
    width:  100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(/static/images/homepage.jpg);
        background-size: cover;
        background-position: center;

}
.banner h1{
    text-align: center;
    padding: 50px 40px 80px 40px;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.content h1{
    font-size: 70px;
    margin-top: 80px;

}
button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;
}