<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admission page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static '/css/aboutCss.css' %}">
  </head>
  <body>

      <div class="aboutpg_header">
        <h2>About</h2>
      </div>
      <div class="aboutpg_body">
        <div class="container">
          <div class="float-end">
          <a href="/admission" class="btn btn-success back">Back</a>
          </div>
            <div class="row">
              <div class="aboutpg_content col-xl-8 col-lg-7">
                <h3>ABOUT IUT</h3>
                <p>Islamic University of Technology (IUT) is an educational and research institution in Bangladesh run and funded by the Organisation of Islamic Cooperation (OIC). The main objective of IUT is to contribute in developing the human resources of the member states of the OIC, particularly in the fields of engineering, technology and technical education. IUT receives direct endowment from OIC member countries and offers scholarships to its students in the form of free tuition, boarding, lodging and medicare. The aesthetic campus was designed by Turkish architect Pamir Mehmet, an MIT graduate</p>
                <h3>Objective of IUT</h3>
                <p>The Islamic University of Technology is basically an educational and research institution. The main objective of the University is to help generally in human resources development in member states of the OIC, particularly in different fields of engineering, technology and technical education.</p>
                <ul>
                  <li>Provide instruction in engineering, technology and technical and vocational education and in such branches of learning connected with the above fields as per requirement of the Member States and as approved the Conference, and in particular, train instructors, technicians in technologies needed in the Member States and to upgrade the mid level and lower level manpower to international standards.</li>
                  <li>Conduct, promote and guide research in engineering, in industrial and technological fields and in technical and vocational education to the benefits of the Member States of the OIC.</li>
                  <li>Hold examination and grant and confer certificates, degrees, diplomas and other academic distinctions on persons who have pursued courses of study provided by the University and have passed the examinations of the University under such conditions as may be prescribed by the academic rules and regulations of the University.</li>
                  <li>May confer other academic distinctions on persons of high eminence of the Member States with the approval of the general assembly on the recommendation of the Board.</li>
                  <li>Promote technical cooperation, exchange technical know-how and disseminate basic information in the field of human resource development through short and special courses, seminars, workshops and publications.</li>
                  <li>Ensure coordination between the objective of the University with other national and regional institutions of the Islamic Countries as well as with international institutions.</li>
                  <li>Undertake advisory and consultancy services for government, International Bodies and foundations or allied organizations.</li>
                  <li>Participate in the meetings of commissions and committees established by the Conference with appropriate background and technical papers.</li>
                  <li>Cooperate and collaborate with the General Secretariat, and with other subsidiary and affiliated organs of the conference.</li>
                  <li>Any other relevant functions as may be decided from time to time.</li>
                </ul>
              </div>
              <div class="aboutpg_video col-xl-4 col-lg-5 mt-5">
                  <iframe width="420" height="250" class="mt-5"
                    src="https://www.youtube.com/embed/1LHxu22X9t0">
                  </iframe>
              </div>
            </div>
        </div>
      </div>


    <!-- Script file here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>



