<!doctype html>
<html lang="en">
  <head>
    {% load static %}
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static '/css/faqCss.css' %}">
  </head>
  <body>

      <div class="faqpg_header">
        <h2>FAQ</h2>
      </div>
      <div class="container">
        <a href="/admission" class="btn btn-success back float-end">Back</a>
      </div>
      <div class="container">
          <div class="faqpg_content ">
              <h4> Question-01: What are the minimum requirements for admission in IUT</h4>
              <p><span class="font-weight-bold">Ans</span>-Student from Host Country under National Curriculum</p>
              <p>SSC or Equivalent:</p>
              <p>Student from only Science group can apply</p>
              <p>Minimum CGPA 4.50 out of 5.00</p>
              <p>HSC or Equivalent:</p>
              <p>Student from only Science group can apply</p>
              <p>Minimum CGPA 4.50 out of 5.00</p>
              <p>Must have to pass in 2021 or 2020</p>
              <p>Must Have A+ grade in following Subject</p>
              <p>-Phyhsics</p>
              <p>-Chemistry</p>
              <p>-Mathematics</p>
              <p>-Must Have minimum A grade in following Subject</p>
              <p>-English</p>

              <h4  class="mt-4">Question-02: How many students are given scholarship in IUT?</h4>
              <p><span class="font-weight-bold">Ans</span>-For Partial-80 and 2 OIC Scholarship</p>
              <h4  class="mt-4">Question-03: How many students are non scholarship in IUT?</h4>
              <p class="mb-5"><span class="font-weight-bold">Ans</span>-600</p>
          </div>
      </div>



    <!-- Script file here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>



