<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;padding-top: 100px;">You are logged in as a 
        {% if user.is_admin %}
        Admin
        {% elif user.is_student%}
        Student
        {% elif user.is_faculty%}
        Faculty
        {% elif user.is_staff_lib%}
        Library Staff
        {% elif user.is_staff_med%}
        Medical Staff
        {% endif%}</h2>
   <div style="text-align:center;padding-top: 100px">
    <a href="{% url 'general_login' %}" >Click here return to main login and logout from 

        {% if user.is_admin %}
        Admin
        {% elif user.is_student%}
        Student
        {% elif user.is_faculty%}
        Faculty
        {% elif user.is_staff_lib%}
        Library Staff
        {% elif user.is_staff_med%}
        Medical Staff
        {% endif%}
    </a>

   </div>
    
</body>
</html>