<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static '/css/questionBankCss.css' %}">
  </head>
  <body>
      <div class="questionBank_header">
        <h2>Question Bank</h2>
      </div>
      <div class="questionBank_body">
        <div class="container">
          <table class="table">
            <tr class="row">
              <th class="col-1">SL</th>
              <th class="col-5">Year</th>
              <th class="col-4"></th>
              <th class="col-1">PDF</th>
              <th class="col-1"><a href="/admission" class="btn btn-success back float-end">Back</a></th>
            </tr>
            <tr class="row">
              <td class="col-1">01</td>
              <td class="col-9"><p>	2022-2021</p></td>
              <td class="col-2"><a href="{% static '/pdf/94422_AdmissionTech_IUT_2018.pdf' %}" target="_blank" class="btn btn-primary">Click Here</a></td>
            </tr>
            <tr class="row">
              <td class="col-1">02</td>
              <td class="col-9"><p>	2020-2021</p></td>
              <td class="col-2"><a href="{% static '/pdf/32454_AdmissionTech_IUT_2019.pdf' %}" target="_blank" class="btn btn-primary">Click Here</a></td>
            </tr>
            <tr class="row">
              <td class="col-1">03</td>
              <td class="col-9"><p>	2019-2020</p></td>
              <td class="col-2"><a href="{% static '/pdf/13149_AdmissionTech_IUT_16.pdf' %}" target="_blank" class="btn btn-primary">Click Here</a></td>
            </tr>
            <tr class="row">
              <td class="col-1">04</td>
              <td class="col-9"><p>	2018-2019</p></td>
              <td class="col-2"><a href="{% static '/pdf/2016-2017.pdf' %}" target="_blank" class="btn btn-primary">Click Here</a></td>
            </tr>
            <tr class="row">
              <td class="col-1">05</td>
              <td class="col-9"><p>	2017-18</p></td>
              <td class="col-2"><a href="{% static '/pdf/94422_AdmissionTech_IUT_2018.pdf' %}" target="_blank" class="btn btn-primary">Click Here</a></td>
            </tr>
          </table>
        </div>
      </div>

    <!-- Script file here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>



