<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roadmap Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static '/css/roadmap.css' %}">
  </head>
  <body>
      <div class="roadmap_header">
        <h2>Roadmap</h2>
      </div>
      <div class="roadmap_body">
        <div class="container">
          <table class="table">
            <tr class="row">
              <th class="col-1">SL</th>
              <th class="col-7">Event</th>
              <th class="col-3">Date</th>
              <th class="col-1"><a href="/admission" class="btn btn-success back">Back</a></th>
            </tr>
            <tr class="row">
              <td class="col-1">01</td>
              <td class="col-7"><p>	Application starting date 1st Step Payment(non-refundable Application Fee of BDT 300/=</p></td>
              <td class="col-4"><p>Monday, 21 March 2022 (02:00 PM)</p></td>
            </tr>
            <tr class="row">
              <td class="col-1">02</td>
              <td class="col-7"><p>Application closing date</p></td>
              <td class="col-4"><p>Monday, 24 March 2022 (02:00 PM)</p></td>
            </tr>
            <tr class="row">
              <td class="col-1">03</td>
              <td class="col-7"><p>Display of grades of all applicants</p></td>
              <td class="col-4"><p>	Wednesday, 27 April 2022 ( 02:00 PM ) - Sunday, 8 May 2022 ( 11:59 PM )</p></td>
            </tr>
            <tr class="row">
              <td class="col-1">04</td>
              <td class="col-7"><p>Verification of grades</p></td>
              <td class="col-4"><p>Wednesday, 8 June 2022 (11:59 PM)</p></td>
            </tr>
            <tr class="row">
              <td class="col-1">05</td>
              <td class="col-7"><p>	Admission Test Venue Selection</p></td>
              <td class="col-4"><p>Wednesday, 12 June 2022 (11:59 PM)</p></td>
            </tr>
          </table>
        </div>
      </div>

    <!-- Script file here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>



