{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <Title>Welcome to ISMS</Title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="stylesheet" href="{% static '/css/signup.css' %}">
    </head>
    <body>
        <div class="container">
            <form action="POST">
                {%csrf_token%}
                <div class="screen">
                    <div class="screen__content">
                        <form class="login">
                            <div class="login__field">
                                <!-- <i class="login__icon fas fa-user"></i> -->
                                <input type="text" name ="email" class="login__input" placeholder="Email">
                            </div>
                            <div class="login__field">
                                <!-- <i class="login__icon fas fa-lock"></i> -->
                                <input type="password" name="password" class="login__input" placeholder="Password">
                            </div>
                            <button type="submit" value="submit"class="button login__submit">
                                <span class="button__text">Log In Now</span>
                                <!-- <i class="button__icon fas fa-chevron-right"></i> -->
                            </button>				
                        </form>
                    </div>
            
                </div>


            </form>

        </div>

    </body>
</html>



