<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>student page with {{ user.email }}</h1>
    {% block content %}
    {% if user.is_authenticated %}
   <p><a href="{% url 'logout' %}"><button>LOG OUT</button> </a></p>
 {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'signinStudent' %}">Log In</a>
{% endif %}
{% endblock %}
</body>
</html>