.form-control{
    margin: 5px 0;
    position: relative;
   border: 2px solid #adadad;
   border-radius: 5px;
   
     }
     .button_register__submit{
     width: 30%;
     height: 50px;
     border: 1px solid;
     margin-left: 10%;
     background: #5043dc;
     border-radius: 10px;
     font-size: 18px;
     color: #e9f4fb;
     font-weight: 700;
     cursor: pointer;
     outline: none;
   }
   .button_register__submit:hover{
     border-color: #102297;
     transition: .5s;
   }
   /* div {
           margin-bottom: 10px;
         } */
         label {
           display: inline-block;
           width: 120px;
            color: #000000; 
         }
         p{
           margin-top: 15px;
         }
         input {
           padding: 5px 10px;
           box-shadow: 0 0 0 .4px rgba(122, 124, 130, 0.8);
           background-color: rgb(248, 244, 244);
           size: 40px;
         }
         input[type="file"] {
          font-size: 15px;
          background-color: rgb(248, 244, 244);
          padding-top: 5px;
        }
        input:focus {
          border-color: rgb(27, 50, 218);
          box-shadow: 0 0 0 2px rgba(18, 82, 219, 0.8);
          outline: 2px solid transparent;
       }
       textarea{
        border-radius: 5px;
        box-shadow: 0 0 0 .4px rgba(122, 124, 130, 0.8);
        background-color: rgb(248, 244, 244);
       }
       textarea:focus {
        border-color: rgb(27, 50, 218);
        box-shadow: 0 0 0 2px rgba(18, 82, 219, 0.8);
        outline: 2px solid transparent;
     }
       select:focus {
        border-color: rgb(27, 50, 218);
        box-shadow: 0 0 0 2px rgba(18, 82, 219, 0.8);
        outline: 2px solid transparent;
     }
     select {
      background-color: rgb(248, 244, 244);
      box-shadow: 0 0 0 .4px rgba(122, 124, 130, 0.8);
   }
       input[type="number"] {
        font-size: 15px;
        size: 40px;
        background-color: rgb(248, 244, 244);
        padding-top: 5px;
      }
