{% extends "staff_med_temp/staff_med_base.html" %}
{% load static %}
{% block title %}{{profile.name}} change pass{% endblock %}
{%block content%}
<link rel ="stylesheet" href="{% static '/css/changePass.css' %}">
<form method="POST">
   {%csrf_token%}
           {{form.as_p}}

               {% for message in messages %}
               <div class="alert alert-success">
                   <a class="close" href="#" data-dismiss="alert">×</a>
                      {{ message }}
               </div>
               {% endfor %}
               <button type="Submit" value="Submit"class="button_register__submit">
                <span class="button__text">Change Password</span>
            </button>	       
           </form>



{%endblock%}