{% extends "admin_temp/admin_base.html" %}
{%block content%}
{% load admin_app_extras%}
<style>
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
      text-justify: auto;
      text-align:center;
    }
    table .fixed{
        table-layout: fixed;
  width: 100%;
    }
    ul.pagination li {
  display: inline-block;;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-decoration: none;
}
ul.pagination li.active {
  background-color: #4CAF50;
  border-radius: 5px;
  color: white;
}

ul.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;}
ul.pagination li a:hover:not(.active) {
    color: red;
    border-radius: 5px;}


div.pagination a.active {
  background-color: #4CAF50;
  border-radius: 5px;
  color: white;
}

div.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;}

div.container {
  text-align: center;
  padding-top: 10px;
}
div.add_button {
  text-align: right;
  padding-top: 10px;
}
div.input-field{
  padding-bottom: 20px;
}
.btn{
  padding: 6px 15px;
  border-radius: 3px;
  background-color: #3e8e41;
  color: #fff;

}
.button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

    </style>
    <div class="add_button">
      <a href="{%url 'studentregister'%}">
        <button class="button"><i class="fas fa-plus"></i> Add Student</button>
     </a>
        
    </div>

<form method="get">
  <label >Name: </label>
  {{profiles.form.name}}
  <label style="margin-left: 5px;">Department: </label>
  {{profiles.form.department}}
  <label style="margin-left: 5px;">Semester: </label>
  {{profiles.form.semester}}

  <button class="btn" type="submit" name="action" style="margin-bottom: 10px; margin-left: 10px;">Search</button>
</form>
<table style="width:100%" class="fixed">
    <thead>
      <tr>
        <th width="300px">Name</th>
        <th>Student ID</th>
        <th>Email</th>
        <th>Department</th>
        <th>Semester</th>
        <th>Session</th>
        <th style="height:fit-content; width:fit-content">Image</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for user in profile_page_obj %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.student_ID }}</td>
          <td>{{ user.email_student }}</td>
          <td>{{ user.department }}</td>
          <td>{{ user.semester }}</td>
          <td>{{ user.session_year}}</td>
          <td><img src="{{ user.image.url}}" alt="" height=100 width=100 /></td>
          <td><a href="/deleteStudent/{{ user.email_id }}" class="delete" data-confirm="Are you sure to delete this student?"> <button>Delete</button></a>
            <a href="/studentUpdate/{{ user.email_id }}"> <button>Update</button></a>
           </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
    <div class="container">
      <ul class="pagination">
    {% if profile_page_obj.has_previous%}
       <li><a href="{% my_url 1 'page' request.GET.urlencode%}">&laquo;First</a></li>
       <li> <a href="{% my_url profile_page_obj.previous_page_number 'page' request.GET.urlencode%}">&laquo;Prevous</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in profile_page_obj.paginator.page_range %}
    {% if profile_page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="{% my_url i 'page' request.GET.urlencode%}">{{ i }}</a></li>
    {% endif %}
   {% endfor %}
    {% if profile_page_obj.has_next%}
   <li> <a href="{% my_url profile_page_obj.next_page_number 'page' request.GET.urlencode%}">Next &raquo;</a></li>
   <li><a href="{% my_url profile_page_obj.paginator.num_pages 'page' request.GET.urlencode%}">Last &raquo;</a> </li>
   {% else %}
         <li class="disabled"><span>&raquo;</span></li>  
    {% endif %}
  </ul>
  <span class="current">
    Page {{profile_page_obj.number}} of {{profile_page_obj.paginator.num_pages}}
  </span>
  </div>
  <script>
    var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
  </script>

{%endblock%}