{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin Panel{% endblock title %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel ="stylesheet" href="{% static '/css/admin/admin_base.css' %}">

  </head>
  <body>
    <div class="wrapper">
      <!--Top menu -->
      <div class="sidebar">
         <!--profile image & text-->
         <div class="profile">
          <img src="/static/images/admin.png" alt="profile_picture">
          <h3>{{user}}</h3>
          <p>Admin</p>
        </div>
        <ul>
          <li>
            <!-- class="active" -->
              <a href="{%url 'adminHome'%}"  class="button-categories-link"> 
                  <span class="icon"><i class="fas fa-home"></i></span>
                  <span class="item">Home</span>
              </a>
          </li>
          <li>
              <a href="{%url 'adminStudent'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-user-friends"></i></span>
                  <span class="item">Student</span>
              </a>
          </li>
          <li>
              <a href="{% url 'adminFaculty'%}" class="button-categories-link">
                  <span class="icon"><i class=" fas fa-chalkboard-teacher"></i></span>
                  <span class="item">Faculty</span>
              </a>
          </li>
          <li>
              <a href="{% url 'adminStaff_med'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-clinic-medical"></i></span>
                  <span class="item">Medical Staff</span>
              </a>
          </li>
          <li>
              <a href="{% url 'adminStaff_lib'%}" class="button-categories-link">
                  <span class="icon"><i class="fas fa-book-reader"></i></span>
                  <span class="item">Library Staff</span>
              </a>
          </li>
          <li>
              <a href="#" class="button-categories-link">
                  <span class="icon"><i class="fas fa-chart-line"></i></span>
                  <span class="item">Admission</span>
              </a>
              <ol class="sub-menu">
                <li class="menu-item"><a href="{% url 'admin_roadmap'%}"><span class="icon"><i class="far fa-calendar-alt"></i></span>
                  <span class="item">Roadmap</span></a></li>
                <li class="menu-item"><a href="{% url 'admin_faq'%}"><span class="icon"><i class="far fa-question-circle"></i></span>
                  <span class="item">FAQ</span></a></li>
            </ol>
          </li>
          <li>
              <a href="{%url 'changePasswordAdmin'%}" class="button-categories-link" >
                  <span class="icon"><i class="fas fa-user-shield"></i></span>
                  <span class="item">Password change</span>
              </a>
          </li>

          <li style="padding-top: 50px;">
            <a href="{% url 'logout' %}" class="button-categories-link">
                <span class="icon"><i class="fas fa-door-open"></i></span>
                <span class="item">Logout</span>
            </a>
        </li>
      </ul>

          <!--menu item-->

      </div>
      <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                  <button>
                    <i class="fas fa-bars fa-1.5x"></i>
                  </button>
                    
            </div>
        </div>

      </div>

  </div>




    <div id="content" name ="content" class="main">
      {%block content%}
      {%endblock%}
    </div>
    <script>
      var hamburger = document.querySelector(".hamburger");
       hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    });
    </script>

  </body>
</html>