{% extends "admin_temp/admin_base.html" %}
{% block title %}change pass{% endblock %}
{%block content%}
<style>
    .form-control{
   margin: 10px 0;
   position: relative;
  border: 2px solid #adadad;
  border-radius: 5px;
  
    }
    .button_register__submit{
    width: 15%;
    height: 35px;
    border: 1px solid;
    margin-left: 10%;
    background: #5043dc;
    border-radius: 10px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  .button_register__submit:hover{
    border-color: #102297;
    transition: .5s;
  }
  </style>
<form method="POST">
   {%csrf_token%}
           {{form.as_p}}

               {% for message in messages %}
               <div class="alert alert-success">
                   <a class="close" href="#" data-dismiss="alert">×</a>
                      {{ message }}
               </div>
               {% endfor %}
               <button type="Submit" value="Submit"class="button_register__submit">
                <span class="button__text">Change Password</span>
            </button>	       
           </form>



{%endblock%}